<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>126904883349-n0ev5drnff7qsl5unc81kg8rj70bdgbu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.126904883349-n0ev5drnff7qsl5unc81kg8rj70bdgbu</string>
	<key>API_KEY</key>
	<string>AIzaSyBDuypQLTc1K3rYT9HnL5HQAU9fEEdRWUs</string>
	<key>GCM_SENDER_ID</key>
	<string>126904883349</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-56175591</string>
	<key>PROJECT_ID</key>
	<string>the-taste-aa810</string>
	<key>STORAGE_BUCKET</key>
	<string>the-taste-aa810.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:126904883349:ios:027d3c1367775766b9639c</string>
	<key>DATABASE_URL</key>
	<string>https://the-taste-aa810.firebaseio.com</string>
</dict>
</plist>